main {
    // background-color: red;
    // height: 100vh;
    margin: 0 auto;
    .dropzone {
        height: 20vh;
        background-color: rgb(200, 197, 197);
        margin-top: 3vh;
        margin-bottom: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        span {
            font-size: 20px;
            font-weight: bold;
        }
    }
    table {
        border: 1px solid gray;
    }
}
